.header {
  background: url('../img/destaque.jpeg') no-repeat;
  background-size: cover;
  padding-top: 32px;
}

.header .main-nav {
  text-align: center;
}

.main-nav .navbar-button .navbar-nav .nav-item {
  display: inline-block;
  margin: 0 2px 32px 0;
}

.nav-item .nav-link {
  color: white;
  padding: 16px;
  font-size: 20px;
  text-transform: uppercase;

  background: rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  transition: background-color 0.5s;

  text-decoration: none;
}

.nav-item .nav-link:hover {
  background-color: #48a3a6;
}

.header .jumbotron {
  text-align: center;
  padding: 0 0 44px 0;
}

.header .panel-main {
  color: white;
  text-shadow: 4px 4px 10px black;
  font-weight: bold;
}

.header .jumbotron .title {
  font-size: 48px;
}

.header .jumbotron .subtitle {
  font-size: 40px;
  color: #45e037;
  margin-top: 7px;
}

.header .jumbotron .button {
  font-size: 18px;
  color: white;
  text-transform: uppercase;
  padding: 25px 50px;
  background-color: #48a3a6;
  /* margin-top: 20px; */
  border-radius: 10px;

  display: inline-block;

  text-decoration: none;
}
